# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
MANIFEST

# Distribution / packaging
build/
dist/
demo/
*.egg-info/

# Sphinx documentation
docs/_*
docs/.*
docs/tmp/

.DS_Store

*~
.vscode
test/
