repos:
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
-   repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
    - id: isort
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-ast
    - id: check-case-conflict
    - id: trailing-whitespace
    - id: mixed-line-ending
    - id: end-of-file-fixer
    - id: check-yaml
    - id: debug-statements
-   repo: https://github.com/ambv/black
    rev: 21.9b0
    hooks:
    - id: black
