/* Hide globaltoc of left sidebar */
.globaltoc {
    display: none
}

/* ABlog sidebar title style */
.sy-lside-inner .ablog-sidebar-item h2,
.sy-lside-inner .ablog-sidebar-item h3,
.sy-lside-inner .ablog__postcard2 {
    font-weight: 500;
    font-family: var(--sy-f-heading);
    text-transform: uppercase;
    letter-spacing: .4px;
    border-top: 1px solid var(--sy-c-divider);
    padding: .8rem 0 .4rem;
}

.sy-lside-inner .ablog-sidebar-item h2 {
    font-size: 1rem;
}

.sy-lside-inner .ablog-sidebar-item h3 {
    font-size: .86rem;
    color: var(--sy-c-light);
}


/* ABlog sidebar list style */

.sy-lside-inner .ablog-sidebar-item > ul a:hover {
    color: var(--sy-c-link-hover);
}

/* ABlog per-sidebar style */

.sy-lside-inner .ablog__postcard2 {
    font-size: .80rem;
}

.sy-lside-inner .ablog__recentposts > ul > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sy-lside-inner .ablog__categories,
.sy-lside-inner .ablog__recentposts,
.sy-lside-inner .ablog__archives {
    font-size: .95rem;
}
