{%- extends "page.html" %}
{% block body %}
  {% for collection in catalog %}
  {% if collection %}
  <div class="section">

    <h1>
      {{ header }}
      {% if collection.href %}<a href="{{ collection.href }}">{{ collection }}</a>
      {% else %}{{ collection }}{% endif %}
    </h1>
    {% for post in collection %}
    <div class="section">
      <h2><a href="{{ pathto(post.docname) }}{{ anchor(post) }}">{{ post.title }}</a></h2>
      <ul class="ablog-archive">
      <li>{% if post.published %}
      {% if fa %}<i class="fa fa-calendar"></i>{% endif %}
        {{ post.date.strftime(gettext(ablog.post_date_format)) }}
      {% else %}
        {% if fa %}<i class="fa fa-pencil"></i>{% endif %}
        {% if post.date %}{{ post.date.strftime(gettext(ablog.post_date_format)) }}
        {% else %} Draft {% endif %}
      {% endif %}
      </li>
      {% include "postcard2.html" %}</ul>
      {{ post.to_html(collection.docname) }}
      <p><a href="{{ pathto(post.docname) }}">{{ _("Read more ...") }}</a></p>
      <hr>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
{% endblock %}
