name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.1
    - name: Set up Python
      uses: actions/setup-python@v3.1.2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U --user --force-reinstall pep517 setuptools_scm twine
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        python -m pep517.build --binary --source --out-dir wheelhouse .
        python -m twine upload --skip-existing wheelhouse/*
